xgboost==0.90
scikit-learn==0.21.3
pandas==0.25.3
numpy==1.17.3
google-api-core==1.14.3
google-auth==1.7.0
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.21.0
google-cloud-core==1.0.3
google-cloud-storage==1.21.0
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0